.about__tab {
  color: black;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--twitter-background);
  padding: 20px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #e2e7ea,
    0 6px 20px 0 #e2e7ea;
  border-radius: 20px;
  transition: box-shadow, transform 0.2s;
  margin-top: 10px;
}

a {
  text-decoration: none !important;
}

.about__tab :hover {
  cursor: pointer;
}

.about__tab:hover {
  box-shadow: 0 4px 8px 0 rgba(151,213,250,0.5),
  0 6px 20px 0 rgba(151,213,250,0.5);
  transform: scale(1.01);
}

.innerpara {
  display: flex;
  margin-bottom: 10px;
}
.innerpara > h2 {
  margin-left: 10px;
  cursor: pointer;
  flex: 0.7;
}

.innerpara > img {
  height: 10vh;
  width: 25vw;
  border-radius: 10px;
  object-fit: contain;
  flex: 0.3;
}

.innerpara > p {
  /* padding-left: 10px;
  padding-top: 10px; */
}

.about__poll {
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
 
  .innerpara > h2 {
    font-size: 15px;
  }
}