.about {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.about__header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: " -webkit-sticky";
  border-bottom: 15px solid var(--twitter-background);
}

.background__image > img {
  width: 80%;
  height: 25%;
  display: block;
  position: relative;
}

.profile__image {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.profile__image__name {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__image__icon {
  width: 170px;
  margin-top: 155px;
  border: 1px green solid;
  border-radius: 50%;
}

.profile__image__edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 280px;
}

.about__username {
  text-decoration: solid;
  font-weight: 800;
  font-size: 150%;
}

.about__bio {
  padding-left: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .about {
    flex: 1;
  }
}