.about {
  flex: 0.6;
  display: flex;
  flex-direction: column;
}

.about__header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: " -webkit-sticky";
  border-bottom: 15px solid var(--twitter-background);
}

.background__image > img {
  width: 80%;
  height: 25%;
  display: block;
  position: relative;
}

.profile__image {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.profile__image__name {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.profile__image__name > .MuiAvatar-root {
  margin-top: 150px;
  height: 200px;
  width: 200px;
}
.profile__image__icon {
  width:100%;
  margin-top: 100%;
  border: 1px green solid;
  border-radius: 50%;
}

.profile__image__edit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 280px;
}

.about__username {
  text-decoration: solid;
  font-weight: 800;
  font-size: 150%;
}

.about__bio {
 
}
.about__body {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
}
.makeStyles-root-1 > .MuiPaper-elevation4 {
  box-shadow: none;
}
.makeStyles-root-1 > .MuiAppBar-positionSticky {
    position: static;
  }

@media only screen and (max-width: 1000px) {
  .about {
    flex: 1;
    height: 90%;
  }
}