.about__tab {
  color: black;
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  padding: 20px;
  flex: 1;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 var(--twitter-background),
    0 6px 20px 0 var(--twitter-background);
  margin: 15px;
  border-radius: 20px;
  transition: box-shadow, transform 0.2s;
}

a {
  text-decoration: none !important;
}

.about__tab :hover {
  cursor: pointer;
}

.about__tab > img {
  height: 15%;
  width: 15%;
  border-radius: 20px;
}
.about__tab:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19),
    0 6px 20px 0 var(--twitter-background);
  transform: scale(1.01);
}

.innerpara {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.innerpara > h2 {
  padding-bottom: 10px;
  cursor: pointer;
}
/* .para :hover{
      background-color: var(--twitter-color);
      transition: color 100ms ease-out;'
      border-radius: 30px;
    } */
.innerpara > img {
  height: 80px;
  width: 400px;
}

.innerpara > p {
  padding-left: 10px;
  padding-top: 10px;
}

.about__poll {
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .innerpara {
    margin-top: 10px;
  }
  .innerpara > p {
    margin-bottom: 10px;
  }
  .cards > img {
    width: 100%;
  }
  .innerpara > h2 {
    font-size: 20px;
  }
}