body {
  --twitter-color: #50b7f5;
  /* --twitter-color: lightsteelblue; */
  --twitter-background: #e6ecf0;
 
}

.app {
  display: flex;
  flex: 1;
  height: 100vh;
  padding: 0 10px;
}

@media only screen and (max-width: 800px){
  .app {
    flex-direction: column;
    box-sizing: content-box;
  }
}