body {
  background-color: rgba(248,249,251,1);
}

.app {
  display: flex;
  flex: 1;
  height: 100vh;
}

.app__bottom {
  height: 10%;
  bottom: 0;
}

@media only screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
    overflow: auto;
    object-fit: contain;
  }
}

.top__header {
  width: 100%;
  height: 49px;
  background-color: var(--twitter-background);
  display: flex;
}

.header__button {
  display: flex;
  position: absolute;
  right: 50px;

  height: 120px;
  margin: 7px;
  justify-content: space-between;
  text-decoration: solid;
}
.header__button > p {
  text-decoration: solid;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
