.cards {
  color: black;
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  padding: 20px 30px;
  flex: 1;
  box-shadow: 0 4px 8px 0 #e2e7ea,
    0 6px 20px 0 #e2e7ea;
  margin: 15px;
  border-radius: 10px;
  transition: box-shadow, transform 0.2s;
  background-color: #FFF;
  justify-content: space-between;
}

.para > a {
  color: #8fa4ab;
  text-decoration: none !important;
  margin: 15px;
  font-size: 15px;
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(151,213,250,0.5),
    0 6px 20px 0 rgba(151,213,250,0.5);
  transform: scale(1.01);
}

.cards > img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  border-radius: 10px;
}
.cards > img :hover {
  height: 11%;
  width: 26%;
}

.para {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.para > h2 {
  padding-bottom: 10px;
  cursor: pointer;
  transition: font-size 0.2s;
}
.para > h2:hover {
  font-size: 25px;
}
.para > img {
  height: 80px;
  width: 400px;
}
.bottom {
  display: flex;
  justify-content: space-evenly;
}
.mob__heading {
  display: none;
}
.desktop__heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop__heading > a{
  text-decoration: none !important;
  color: #000;
}
@media only screen and (max-width: 1000px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .para {
    margin-top: 10px;
  }
  .cards > img {
    width: 100%;
  }
  .bottom{
    flex-direction: column;
  }
  .mob__heading{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    padding: 15px;
  }
  .desktop__heading {
    display: none;
  }
}
