.edit__image__profile,
.edit__img__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit__image__icon,
.edit__cover__icon {
  position: absolute;
}

.change__image {
}

.change__cover {
}

.image__cover__overlay {
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-evenly;
}

.image__cover__overlay > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.edit__text {
}

.edit__img__cover > img {
  width: 560px;
  height: 200px;
  filter: opacity(70%);
}

.edit__image__profile > img {
  width: 170px;
  border-radius: 50%;
  filter: opacity(70%);
}

@media only screen and (max-width: 800px) {
  .edit__img__cover > img {
    width: 390px;
    height: 150px;
    display: block;
  }

  .edit__image__profile > img {
    width: 100px;
  }
}