.edit__image__profile,
.edit__img__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.edit__image__icon,
.edit__cover__icon {
  position: absolute;
}

.change__image {
}

.change__cover {
}

.image__cover__overlay {
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: space-evenly;
}

.image__cover__overlay > img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.edit__text {
}

.edit__img__cover > img {
  width: 560px;
  height: 200px;
  filter: opacity(70%);
}

.edit__image__profile > img {
  width: 170px;
  border-radius: 50%;
  filter: opacity(70%);
}
/* 
.edit__button {
  background-color: red;
} */

.edit__button > .MuiButton-root {
  text-transform: none;
  /* background: #d3d3d3; */
  background: white;
  border: 2px solid grey;
  color: #2c2c2c;
  cursor: pointer;
  /* transition: all 0.5s; */
  border-radius: 10px;
  position: relative;
  padding: 8px 10px;
  font-size: 0.9375rem;
  box-shadow: none;
}

.edit__button > .MuiButton-root:hover {
  /* background-color: #2b2bff; */
  /* color: white; */
  background: white;
  border: 2px solid #2b2bff;
  box-shadow: none;
  color: #2b2bff;
}

@media only screen and (max-width: 800px) {
  .edit__button > .MuiButton-root {
    padding: 5px 10px;
    font-size: 0.7rem;
  }
  .edit__button {
    margin-top: 15px;
  }
}
