.feed {
  flex: 0.60;
  display: flex;
  flex-direction: column;
}

/* .feed::-webkit-scrollbar {
  display: none;
} */
.feed__header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 4px solid #f1f8ff;
}

.feed__header > p {
  margin-left: 15px;
  font-weight: bold;
  color: #2c4c4b;
}
.feed__header > .MuiSvgIcon-root {
  color: #2181e0;
}
.newsfeed {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 15px solid var(--twitter-background);
  position: sticky;
}

.feed__posts {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}
.loading {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px){
  .feed {
   flex: 1;
   border: none;
   height: 95vh;
  }
  .feed__posts{
    padding-bottom: 30px;
  }
  .loading {
    margin-top: 50%;
  }
}