.header_cmp {
    display: flex;
    padding: 10px;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 4px solid #f1f8ff;
    position: static;
}

.header_cmp > p {
    margin-left: 15px;
    font-weight: bold;
    color: #2c4c4b;
}
.header_cmp > .MuiSvgIcon-root {
    color: #8fa4ab;
}

@media only screen and (max-width: 1000px) {
    .header_cmp{
        padding: 5px;
        margin-bottom: 0px;
    }
}