.signinwith {
  display: flex;

  justify-content: center;
  justify-content: space-evenly;
}

.signinwith > img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 24px rgba(136, 136, 136, 0.4);
  border-radius: 50%;
}

.login__signup {
  display: flex;

  justify-content: center;
  justify-content: space-evenly;
}

.login__signup > p {
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login__main {
  display: flex;
}

.left__img__login {
  display: flex;
}

.right__text__login {
  display: flex;
}

.left__img__login > img {
  width: 500px;
  height: auto;
}
.login__forgotPassword {
  font-weight: bold;
  color: #2c4c4b;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}