.notification__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 var(--twitter-background),
  0 6px 20px 0 var(--twitter-background);
  margin-bottom: 10px;
  transition: box-shadow, transform 0.2s;
}
.notification__content:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19),
    0 6px 20px 0 var(--twitter-background);
  transform: scale(1.01);
}
.icon {
  position: relative;
}
.icon__image {
  position: absolute;
  height: 50px;
  margin-top: 25px;
  width: 50px;
  /* z-index: -1; */
}
.overlay {
  position: relative;
  left: 25px;
  top: 20px;
  color: #f83d3d;
}
.notification__content >p {
  margin-left: 15px;
}

.notification__username {
  font-weight: 700;
}

.notification__content > p {
  padding: 15px;
}

.notification__time {
  font-size: 12px;
  color: gray;
  display: block;
}
.notification__img > img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin: 0px 15px;
}
