.poll  {
    flex: 1;
    display: flex;
    border-radius: 10px;
    background-color: #fbfafc;
    border-radius: 10px;
}

.poll__section{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-top: 2px;
    border-bottom: 2px;
} 
.poll__sectionPara > p{
    color: #c8d6d2;
    font-size: 12px;
    padding: 2px;
    font-weight: bold;
}
.poll__sectionPara {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.poll__dislike {
    display: flex;
    flex: 1;
    padding: 5px 20px;
}
