.poll{
    display: flex;
}

.poll__left, .poll__right{
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between; 
    min-width: fit-content;  
}
.poll__right{
    min-width: fit-content;
}
.poll__leftSection{
    padding: 0px 10px;
    align-items: center;
    justify-content: space-evenly;
}
.poll__line{
    flex: 1;
}
.poll__line > p {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.poll__linePara {
    border-top: 4px solid black;
    color: #75897d;
    font-weight: bold;
}
