.poll  {
    flex: 1;
    display: flex;
    border-radius: 20px;
    background-color: #00ff84;
}
.poll__dislike {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

.poll__dislike > p {
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
}

.poll__votes {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}