.r__main{
  display: flex;
}
.r__left, .r__right {
  width: 100%;
  align-items: center  !important;
  justify-content: center !important;
}
.r__left > img {
  width: 100%;
  height: 100%;
}
.r__rightHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px ;
}
.r__rightBody{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register__signup{
  margin-bottom: 15px;
  cursor: pointer;
}
.signinwith{
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .r__left   {
    display: none;
  }
}