.register__signup {
  display: flex;

  justify-content: center;
  justify-content: space-evenly;
}

.register__signup > p {
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.register__main {
  display: flex;
  /* flex: 1; */
}

.left__image__register {
  display: flex;
  /* flex: 1; */
}

.right_text_register {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  /* align-self: center; */
  width: 100% !important;
}
.left__image__register > img {
}

@media only screen and (max-width: 800px) {
  .left__image__register {
    display: none;
  }
}
