.main {
    flex: 0.6;
    display: flex;
    flex-direction: column;
}
.search__header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #fcfcfd;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
  border-bottom: 4px solid #f1f8ff;
  border-radius: 10px;
}

.search__header > p {
  margin-left: 15px;
  font-weight: bold;
  color: #2c4c4b;
}

.search {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  padding: 10px;
  background-color: #FFF;
  margin: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 #e2e7ea,
  0 6px 20px 0 #e2e7ea;
}

.search__posts {
  padding: 20px;
  overflow-y: scroll;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: sticky;
    background-color: #ecf2f6;
  }
.widgets__input > input {
    border: none;
    outline: none;
   
    flex: 1;
    background-color: #ecf2f6;
  }
  .widgets__input > input::placeholder{
    color: #67707d;
  }

  .widgets__input > .MuiIconButton-root{
    padding: 2px;
  }
  .widgets__searchIcon {
    color: gray;
  }

  .search__img {
    height: 100%;
  width: 100%;  }
@media only screen and (max-width: 1000px){
    .search {
     flex: 1;
     margin: 0px;
    }
  }