.sidebar {
  border-right: 2px solid var(--twitter-background);
  display: flex;
  flex: 0.15;
  flex-direction: column;
}
a {
  text-decoration: none !important;
}
.sidebar__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sidebar__icon {
  display: flex;
  flex-direction: column;
}

.icon {
  color: var(--twitter-color);
  font-size: 60px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px){
  .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: none;
  }
}