.widgets {
  flex: 0.20;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--twitter-background);
}

.header {
  display: flex;
  padding: 10px;
  background-color: #FFF;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 4px solid #f1f8ff;
  
}

.header > p {
  margin-left: 15px;
  font-weight: bold;
  color: #2c4c4b;
}
.header > .MuiSvgIcon-root {
  color: #fc0826;
}


.widgets__widgetContainer {
  display: flex;
  flex: 1;
  margin: 10px 20px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #e2e7ea,
    0 6px 20px 0 #e2e7ea;
}

.widgets__widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
}

@media only screen and (max-width: 1000px){
  .widgets {
    display: none;
  }
}